<%= form_with model: comment, url:[board, comment], local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>

  <%= f.submit (t 'comment.new.create'), class: 'btn btn-primary' %>
<% end %>